body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    background-color: #dfe2db;
    font-family: 'Courier Prime', monospace;
    }

.footer, .header{
    background-color: #2f5b4c;
    color: white;
    text-align: center;
    margin: 0;
    padding:5px 0;
}


.contentLogin, .contentAliments, .contentProfil, .contentJournal,.contentStats, .deconnexion{
    display:flex;
    min-height: 100vh; /* Hauteur totale de la fenêtre */
    justify-content: center; 
    align-items: center; 

}

.contentLogin{
    justify-content: space-evenly;
}

.contentAliments, .contentProfil, .contentJournal{
flex-direction: column;
}


.header, .menu, .footer {
    flex-shrink: 0;
}

a{
    text-decoration: none;  
    width: 100%; 
    height: 100%; 
} 

a:visited {
    color: inherit; 
}

.menu ul{
    display: flex;
    list-style:none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
} 

.menu li {
    display: flex;
    padding: 10px ; 
}

.menu{
    background-color: #2f5b4c;
    color: #dfe2db;
    font-family: 'Ovo', serif;
    font-weight: 700;

}

.menu li:hover {
    color: #ae515f;
}

#currentpage{
    background-color:  #dfe2db;
    color : black;
}


.form-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
}

.form-group label {
    margin-right: 5px;
}

.form-group input {
    width: 120px;
}

button, .bouton{
    background-color: #2f5b4c;
    color : white;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    height: fit-content;
    width: fit-content;
    margin: 5px;
}

.titre{
    margin: 15px 0 0 0;
    text-align: center;
}


#addRepasForm{
    margin: 30px;
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    justify-content: flex-start; 
}

#addAlimentForm{
    margin: 30px;
    display: flex;
    flex-wrap: nowrap; 
    gap: 15px; 
    justify-content: flex-start; 
}

.textBienvenue, #date_du_jour{
    text-align: center;
    font-size: 20px;
}

th{
    text-align: left;
}

input:not(.bouton), #inputSport, #inputSexe {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 5px;
}

input:not(.bouton):focus {
    border-color: #ae515f;
}

#tableStats {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 10px; 
    border: 2px solid #4CAF50; 
}

#tableStats th,
#tableStats td {
    border: 1px solid #4CAF50; 
    padding: 8px;
    text-align: center;
}

#tableStats td:nth-child(2),
#tableStats th:nth-child(2) {
    color: #ae515f;
    font-weight: bold;
}


#profil {
    border: 2px solid #4CAF50;
    padding: 10px;
    border-radius: 8px;
    min-width: 500px;
    background-color: #f9f9f9;
}

#profil tr {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd; 
}

#profil tr:last-child {
    border-bottom: none; 
}

#profil th {
    flex: 1;
    font-weight: bold;
    text-align: left;
    padding-right: 15px; 
    border-right: 1px solid #ccc; 
}


#profil td {
    flex: 1;
    text-align: right;
    padding-left: 15px;
}
