body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    background-color: #dfe2db;
    font-family: 'Courier Prime', monospace;
    }

.footer, .header{
    background-color: #2f5b4c;
    color: white;
    text-align: center;
    margin: 0;
    padding:5px 0;
}

.contentLogin, .contentAliments, .contentProfil{
    display:flex;
    min-height: 100vh; /* Hauteur totale de la fenêtre */
    justify-content: center; 
    align-items: center; 
}

.contentLogin{
    justify-content: space-evenly;
}

.contentAliments, .contentProfil{
flex-direction: column;
}


.header, .menu, .footer {
    flex-shrink: 0;
}

a{
    text-decoration: none;  
    width: 100%; 
    height: 100%; 
} 

a:visited {
    color: inherit; 
}

.menu ul{
    display: flex;
    list-style:none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
} 

.menu li {
    display: flex;
    padding: 10px ; 
}

.menu{
    background-color: #2f5b4c;
    color: #dfe2db;
    font-family: 'Ovo', serif;
    font-weight: 700;

}

.menu li:hover {
    color: #ae515f;
}

#currentpage{
    background-color:  #dfe2db;
    color : black;
}


#addStudentForm {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.form-group {
    display: flex;
    align-items: center;
}


/* Alignement des labels et des champs */
.form-group label {
    margin-right: 5px;
}

/* Largeur des inputs */
.form-group input {
    width: 120px;
}

button, .bouton{
    background-color: #2f5b4c;
    color : white;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    height: fit-content;
    width: fit-content;
}